<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index For Movies</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href='{%static "css/movie.css" %}'>
</head>
<body>
<div class="container" align="center">
    <h1> Rahul Movies</h1>
    <p> Store for Movie Buff</p>
    <a class="btn btn-primary btn-lg" href="/addmovie" role="button">Add Movies</a>
    <a class="btn btn-primary btn-lg" href="/listmovie" role="button">List Movies</a>


</div>

</body>
</html>